
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F !important;
    border-radius: 5px;
    text-align: center;
    color: #42B32F !important;
    margin-bottom: 30px;

}
.filter-button:hover 
{
    font-size: 18px;
    border: 1px solid #42B32F !important;
    border-radius: 5px;
    text-align: center;
    color: #ffffff !important;
    background-color: #42B32F !important;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F !important;
    color: white !important;
}
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
.pagination{    display: block!important; margin: 25px auto!important; width: 300px;}
.btn-glyphicon { padding:8px !important; background:#ffffff!important; margin-right:4px!important; }
.icon-btn { padding: 1px 15px 3px 2px!important; border-radius:50px!important;}
a.btn.icon-btn.btn-success {
    margin: 0px 0px 10px -15px;
}
.image_admin{
    width: 50px;
    height: 50px;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

button.orange {
    color: white;
    border: 1px solid #FB8F3D; 
    background: -webkit-linear-gradient(top, #FDA251, #FB8F3D);
    background: -moz-linear-gradient(top, #FDA251, #FB8F3D);
    background: -ms-linear-gradient(top, #FDA251, #FB8F3D);
}

button.orange:hover {
    border: 1px solid #EB5200;
    background: -webkit-linear-gradient(top, #FD924C, #F9760B); 
    background: -moz-linear-gradient(top, #FD924C, #F9760B); 
    background: -ms-linear-gradient(top, #FD924C, #F9760B); 
    box-shadow: 0 1px #EFEFEF;
}
